.navUl{
    background-color: #070144;
    color: #fffefe;
}
.navlist a{
    color: #ffffff;
}
body{
    background-color: #0c0149;
}
.header-row{
    background-color: #5661ff;
}
.globe-img{
    background-color: #000000;
    border-radius: 300px;
}