.navUl {
    background-color: #d7d4fc;
    color: #000000;
    border-radius: 10px;
}

.navlist a {
    color: #000000;
}

.navlist a:hover {
    color: #3700ff;
}

.logo-1 {
    width: 50px;
    height: 70px;
    border-radius: 50%;
}

body {
    background-color: #0c0149;
}

.header-row {
    background-color: #4955f7;
    border-radius: 50px;
}

.globe-img {
    background-color: #000000;
    border-radius: 300px;
}

/* 
.globe-img{
    cursor: pointer;

}  */

.leftcol {
    padding-top: 50px;
    background-color: #a8a7ff;
    border-radius: 50px;
    border: 2px solid rgb(1, 1, 68);
}

.leftcol:hover {
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;
}

.section-hero:hover {
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;
}


.globe-img {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.globe-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(11, 57, 3);
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;
}

.heading-3 {
    color: rgb(0, 0, 0);
    /* font-weight: 600; */
    font-size: 50px;
    font-style: italic;
}

.heading-3:hover {
    /* color: rgb(255, 255, 255); */
    /* font-weight: 650; */
    transition: 0.9s;
    cursor: pointer;
    animation-name: __slideLeft;
    animation: slideLeft 0.5s ease forwards;
}


.para-1 {
    font-style: italic;
    font-size: 25px;
    color: #000;
}

.para1 {
    font-style: italic;
    font-size: 27px;
    color: #000;
}

/* .para-1:hover {
    font-size: 20px;
    color: #000;
    animation-name: __slideLeft;
    animation: slideLeft 0.5s ease forwards;
} */



.span-1 {
    color: #2604bd;
    font-weight: bold;
}

.heading3 {
    color: #12015f;
    font-size: 50px;
    font-style: italic;
}

.heading3:hover {
    color: #2232c2;
    font-size: 50px;
    font-style: italic;
}

.para-1 {
    font-style: italic;
    font-size: 25px;
    color: #000;
    font-weight: 500;
}

.world-row {
    /* background-image: url('images/blue-world-map-white-background_42634-9.avif'); */
    position: relative;
    border-radius: 50px;
    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
}

.world-img {
    border-radius: 50px;
    height: 500px;
    width: 1200px;
    /* box-shadow: 5px 5px 15px rgb(20, 3, 252); */
}

.overlay {
    position: absolute;
    background-color: rgba(64, 64, 143, 0.473);
    border-radius: 12px;
    /* margin-top: 390px !important; */
    margin-top: 100px !important;
    margin-left: 160px !important;
    width: 800px !important;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgb(20, 3, 252);
}

.overlay:hover {
    border: 2px solid rgb(0, 0, 0);
    color: #000;
    cursor: pointer;
    background-color: rgba(156, 156, 253, 0.493);
    animation-name: zoom-In;
    animation-duration: 2s;
}

.land {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    gap: 20px;
    box-shadow: 5px 5px 15px rgb(152, 145, 248);
}

.land {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgb(152, 145, 248);

    animation: landAnim 1.2s ease forwards;
}

@keyframes landAnim {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(30px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.land {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgb(152, 145, 248);

    animation: landAnim 1.2s ease forwards;
    transition: all 0.4s ease;
}

.land:hover {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    box-shadow: 8px 15px 30px rgb(120, 110, 240);
    cursor: pointer;
}

.landscape-grid {
    gap: 100px;

}

.para-2 {
    font-style: italic;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;

}

.head2 {
    color: #ffffff;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #0206fa;

}

.head2:hover {
    color: #2604bd;
    font-size: 55px;
    font-style: italic;
    cursor: pointer;
    text-shadow: 2px 2px 4px #ffffff;
    animation: slideLeft 0.9s ease forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-20px);
    }
}

.climate-section {

    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgb(152, 145, 248);

    animation: climateAnim 1.2s ease forwards;
    color: #ffffff;
}

.climate-img {
    border-radius: 500px;
    height: 500px;
    width: 800px;
    border: 4px solid rgb(19, 0, 0);
    box-shadow: 5px 5px 15px rgb(8, 1, 105);

}

.climate-img:hover {
    border-radius: 500px;
    height: 500px;
    width: 800px;
    box-shadow: 5px 5px 15px rgb(137, 237, 250);
    cursor: pointer;
    animation-name: fadeup;
    animation-duration: 0.5s;
}

.card {
    background-color: rgb(165, 179, 245);
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(1, 46, 4);

}

.card:hover {
    background-color: rgb(72, 103, 245);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

@media screen and (max-width: 1422px) {
    body {
        overflow-x: hidden !important;
    }

    /* .world-row {
        margin: 0 auto !important;
        position: absolute !important;
        width: 712px !important;
        height: 456px !important;
    } */
}

@media only screen and (max-width: 1250px) {
    .world-img {
        width: 1000px;
        height: 600px;
    }

    .overlay {
        width: 700px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .world-img {
        width: 900px;
    }

    .overlay {
        width: 600px !important;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1050px) {
    .world-img {
        width: 850px;
        height: 600px;
        margin-left: 30px;
    }
/* 
    .overlay {
        width: 600px !important;
        margin-top: 100px;
    } */
}

@media only screen and (max-width:1000px) {

    .climate-img {
        border-radius: 500px;
        height: 400px;
        width: 600px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 400px;
        width: 600px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:1000px) {
    .navbar-collapse .navlist {
        text-align: center;
    }
}
@media only screen and (max-width:992px) {
    .world-img {
        width: 700px;
        height: 600px;
        text-align: left;
    }
}

@media only screen and (max-width:780px) {

    .climate-img {
        border-radius: 500px;
        height: 300px;
        width: 450px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 300px;
        width: 450px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:600px) {
    .land {
        width: 350px;
        height: 200px;
    }
}

@media only screen and (max-width:550px) {

    .climate-img {
        border-radius: 500px;
        height: 200px;
        width: 350px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 200px;
        width: 350px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:450px) {
    .land {
        width: 275px;
        height: 180px;
    }
}

@media only screen and (max-width:430px) {

    .climate-img {
        border-radius: 500px;
        height: 150px;
        width: 225px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 150px;
        width: 225px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:340px) {
    .land {
        width: 200px;
        height: 150px;
    }
}

@media only screen and (max-width:340px) {

    .head2 {
        color: #ffffff;
        font-size: 35px;
        font-style: italic;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #0206fa;

    }

    .head2:hover {
        color: #2604bd;
        font-size: 40px;
        font-style: italic;
        cursor: pointer;
        text-shadow: 2px 2px 4px #ffffff;
        animation: slideLeft 0.9s ease forwards;
    }

}

@media only screen and (max-width:310px) {

    .climate-img {
        border-radius: 500px;
        height: 125px;
        width: 200px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 125px;
        width: 200px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:280px) {

    .climate-img {
        border-radius: 500px;
        height: 125px;
        width: 175px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 125px;
        width: 175px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:340px) {
    .land {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width:250px) {

    .climate-img {
        border-radius: 500px;
        height: 100px;
        width: 150px;
        border: 4px solid rgb(19, 0, 0);
        box-shadow: 5px 5px 15px rgb(8, 1, 105);

    }

    .climate-img:hover {
        border-radius: 500px;
        height: 100px;
        width: 150px;
        box-shadow: 5px 5px 15px rgb(137, 237, 250);
        cursor: pointer;
        animation-name: fadeup;
        animation-duration: 0.5s;
    }
}

@media only screen and (max-width:225px) {
    .head2 {
        color: #ffffff;
        font-size: 30px;
        font-style: italic;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #0206fa;

    }

    .head2:hover {
        color: #2604bd;
        font-size: 35px;
        font-style: italic;
        cursor: pointer;
        text-shadow: 2px 2px 4px #ffffff;
        animation: slideLeft 0.9s ease forwards;
    }

    .land {
        width: 125px;
        height: 125px;
    }

    .para-2 {
        font-style: italic;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;

    }
}